<head>
  {% seo %}
  {% feed_meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="/assets/css/bulma.min.css">
  <!-- Main styles -->
  <!-- link rel="stylesheet" href="/assets/css/styles.css" -->
  <!-- Bulma -->
  <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" -->
  <!-- All of BulmaJS -->
  <!-- script src="/assets/js/bulma_js/bulma.js"></script -->
  <!-- Single plugins -->
  <!-- script src="/assets/js/bulma_js/navbar.js"></script -->
</head>