<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://blog.w3craft.ru">Blog W3Craft</a>
    <div class="navbar-burger js-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      {% for item in site.data.nav %}
      <a class="navbar-item" href="{{ item.link }}">
        {{ item.name }}
      </a>
      {% endfor %}      
      
      <div class="navbar-item has-dropdown is-active">
        <a class="navbar-link" href="/categories"> Catigories</a>
        <div class="navbar-dropdown is-boxed">
          {% for category in site.categories %}
          <a class="navbar-item" href="">{{ category[0] }}</a>
          <hr class="navbar-divider">
            {% for post in category[1] %}
            <a class="navbar-item" href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
          {% endfor %}
        </div>
      </div>


    
      <div class="navbar-item">
        <a class="bd-tw-button button" target="_blank" href="https://github.com/w3craft/blog">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>

    </div>
  </div>
</nav>