---
layout: default
---
<header class="hero is-small is-link has-text-centered is-overlay">
    {% include header.html %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        {% include nav.html %}
    </nav>
    
</header>

<main class="section">
    <div class="container">
        {% include menu.html %}
    </div>
    <div class="container">
        {{ content }}
    </div>

    <div class="container">
        {% include aside.html %}
    </div>
</main>

<footer class="footer has-text-centered">
    {% include footer.html %}
</footer>
