---
layout: main
---
<article class="content">
  <h1>{{ page.title }}</h1>
  <p>{{ page.date | date_to_string }} - {{ page.author }}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
    - <a class="button is-link is-inverted" href="{{ author.url }}">
      {{ author.name }}
    </a>
    {% endif %}
  </p>

  {{ content }}

</article>

  <div class="content">
  <h1>{{ page.title }}</h1>
  <div class="tags">
{% for tag in page.tags %}
  {% assign tag_slug = tag | slugify: "raw" %}
  <a class="tag-link"
    href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
    rel="category tag">
    #{{ tag }}
  </a>
{% endfor %
      </div>
  </div>

  <!-- div class="content">
  <h1>{{ page.title }}</h1>
  <div class="tags">
    {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
        <span class="tag">
            <a href="/{{ tag }}">#{{ tag }}</a>
        </span>
    {% endfor %}
  </div>
</div -->
